body {
    font-family: Garamond;
    background-color: #4b0082; /* deep purple */
    color: white;
    margin: 0;
}

nav {
    background-color: #2e0057;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

nav a:hover {
    color: #d6b3ff;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 20px;
}